
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Nunito+Sans&family=Poppins:wght@400;500&display=swap');

button, a {
  cursor: pointer;
}

h1, h2 {
  font-family: 'Rubik', sans-serif;
}

button {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1165px;
  align-items: center;
  margin: auto;
  overflow: hidden;
  
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  margin: 46px 0 0 0;

  align-items: center;
  gap: 10px;
}

.header__logo {
  width: 40px;
height: 40px;
}

.header__text {
  color: #4BA586;
  letter-spacing: 0.5px;
  font-size: 24px;
  font-weight: 500;
  
}
.header__middle {
  display: block;
}

.header-middle__list {
  font-weight: 500;
  list-style: none;
  display: flex;
  gap: 50px;
  letter-spacing: 0.5px;
  color: #8d8d8d;
}

.header-middle__list img {
  margin-left: 20px;
}

.first-child:first-child {
  margin-top: -10px;
  color:#69B99D;
}

.header-middle__list a {
  text-decoration: none;
  letter-spacing: 0.5px;
  color: #8E8E8E;
  margin-top: 46px;
}

.registr {
justify-content: center;
align-items: center;
width: 151px;
height: 55px;
background: #F5F5F5;
border: none;
font-weight: 500;
font-size: 16px;
color: #69B99D;
padding: 0;
margin:36px 10px 0 0;

}
.login {
width: 139px;
height: 55px;
justify-content: center;
align-items: center;
font-size: 16px;
font-weight: 500;
color: #FFFFFF;
border: none;
margin: 32px 0 0 0;
background: #69B99D;
}

/******** DREAM ********/

.dream__info {
  height: 580px;
}

.dream__info h1 {
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 74px;
color: #1F2744;
margin: 150px 0 0 0;
}

.dream__info-text {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin: 24px 0;
letter-spacing: 0.0025em;
color: #73788C;
}

.dream__info-btn {
  display: flex;
  margin-top: 64px;
}

.buy {
display: flex;
justify-content: center;
align-items: center;
padding: 12px 32px;
gap: 10px;
width: 110px;
height: 55px;
left: 125px;
top: 520px;
background: #FEFEFF;
font-style: normal;
font-weight: 500;
font-size: 24px;
letter-spacing: 0.0025em;
color: #69B99D;
border: none;
}

.rent {
display: flex;
justify-content: center;
align-items: center;
padding: 12px 32px;
gap: 10px;
background: #F5F5F5;
border: none;
font-style: normal;
font-weight: 500;
font-size: 24px;
color: #A6A6A6;
}

.dream__picture {
  background-image: url("img/dream-home.png");
  background-repeat: no-repeat;
  position: absolute;
  max-width: 100%;
  width: 800px;
  height: 760px;
  left: 630px;
  top: 120px;
}

.dream__info-btn-window {
position: absolute;
display: flex;
justify-content: space-evenly;
width: 750px;
height: 125px;
left: 138px;
z-index: 1;
background: #FEFEFF;
box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);


}

.location {
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #1F2744;
}

.price h5 {
  margin: 35px 0 0 0;
  font-size: 18px;
  font-weight: 400;
}

.price__info p {
  margin: 0px;
  color: #A6A6A6;
}

.price__info {
  display: flex;
  margin-top: 8px;
}

.price__info img {
  margin: 10px 0 0 10px;
  cursor: pointer;
}

.search {
  display: flex;
margin: 30px 30px 0 0;
justify-content: center;
align-items: center;
padding: 18px 48px;
font-family: 'Poppins';
gap: 8px;
width: 150px;
height: 60px;
background: #69B99D;
box-shadow: 0px 0px 65px rgba(105, 185, 157, 0.32);
border: none;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #FFFFFF;
}

/************ DISCOVER ************/



.discover__container--info {
  display: flex;
  justify-content: space-between;
}

.discover__link-learn-more {
  margin-top: 120px;
 }

.discover__link-learn-more a {
font-style: normal;
font-weight: 500;
font-size: 18px;
letter-spacing: 0.5px;
color: #69B99D;
text-decoration: none;
}

.container h2 {
margin-bottom: 16px;
font-style: normal;
font-weight: 600;
font-size: 48px;
letter-spacing: 0.5px;
color: #054457;
}

.container p {
 font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #73788C;
}

.discover__recomendation {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discover__recomendation-villa1, 
.discover__recomendation-villa2, 
.discover__recomendation-villa3 {
  padding: 16px;
  background: #FEFEFF;
  border: 1px solid #DEDCDA;
}

.discover__recomendation-villa-name {
font-style: normal;
font-weight: 600;
font-size: 24px;
color: #1F2744;
margin: 0;
}

.discover__recomendation-villa-city {
margin: 8px 0 15px 0;
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #A6A6A6;
}

.info {
  display: flex;
  align-items: center;
  
}

.info-price {
font-style: normal;
font-weight: 600;
font-size: 24px;
color: #69B99D;
}

.info__main {
  background: #F5F5F5;
  margin-left: 40px;
}

.info-area {
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #1F2744;
}

.info-area-text {
  color: #A6A6A6;
}

.send_inquiry, .send_inquiry-active {
width: 344px;
height: 40px;
margin-top: 25px;
display: flex;
justify-content: center;
align-items: center;
padding: 4px 8px;
gap: 8px;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #69B99D;
border: 1px solid #69B99D;
}

.send_inquiry-active {
color: #F5F5F5;
background: #69B99D;
box-shadow: 0px 0px 20px rgba(105, 185, 157, 0.58);

}

/* *********ADVANTE************* */

.advante h5 {
  margin: 20px 0 16px 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.5px;
  color: #054457;
  
}

.advante img {
  margin-top: 70px;
}

.advante__benefits-part1,
.advante__benefits-part2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advante__text {
margin-top: 0;
width: 335px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.5px;
color: #73788C;
}

.advante__text2 {
  max-width: 330px;
}

/* ********UBOUT US*********** */

.about__us {
  display: flex;
  align-items: center;
  margin-top:  170px;
}

.about__us-img {
  position: relative;
}

.about__us-info {
  margin: 0 0 60px 48px;
}

.about__us-question {
margin: 80px 0 16px 0;
 font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 56px;
letter-spacing: 0.5px;
color: #054457;
}

.about__us-text {
  margin-bottom: 0;
}

.about__us-btn {
  margin-top: 50px;
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 18px 48px;
gap: 8px;
background: #69B99D;
box-shadow: 24px 24px 65px rgba(81, 140, 119, 0.24);
border: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #FEFEFF;
}

.property {
  position: absolute;
  top: 391px;
  left: 132px;

  display: flex;
  align-items: center;
  justify-content: end;
  background: #FFFFFF;
}

.property span {
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
color: #054457;
}

.property p {
  margin-left: 10px;
}

.property__sale,
.property__rent {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.property__rent {
  margin-right: 25px;
}

.property__sale {
  margin: 0 23px 0 12px;
}

.mark {
  position: absolute;
  top: -58px;
  bottom: 0;
  left: 100px;
  right: 0;
  width: 175px;
  height: 230px;
  background: #FEFEFF;
  box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);
}

.mark__number {
margin-left: 35px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 72px;
color: #054457;
}

.mark p  {
  margin: 16px 0 0 46px
}

.mark p + p {
  color: #054457;
  margin: 0 0 0 35px;
}

.mark__icon {
  position: absolute;
  top: -13px;
  left: 75px;
  right: 0;
}

.mark__stars {
  margin-left: 32px;
}

/* *****CUSTOMER****** */


.customer {
  margin-top: 100px;
}

.customer__container {
  margin-top: 45px;
  display: flex;
  justify-content: space-around;
}

.customer__say {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customer .discover__link-learn-more {
  margin-top: 70px;
}

.customer__info {
  padding: 24px;
  width: 370px;
  background: #FEFEFF;
  border: 1px solid #DEDCDA;
  box-sizing: border-box;
}

.customer__info--photo {
  margin-top: 25px;
  display: flex;
}

.customer__info--name {
  margin-left: 14px;
}

.customer__info--name span {
  display: block;
}
 .customer__info--surname {
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
letter-spacing: 0.5px;
color: #0B2E29;
}

.customer__info--profision {
margin-top: 5px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
letter-spacing: 0.5px;
color: #767676;
}

.customer__info--jaydon .customer__info--text {
  margin-bottom: 0;
  width: 330px;
 
}

b {
  color: #1F2744;
  font-size: 18px;
}


/* ******FOOTER******** */

.footer_container {
  display: flex;
  margin-bottom: 100px;
}
.footer__action {
  margin-top: 63px;
}

.footer__action p {
  margin: 23 0;
}

.footer__form input {
  margin-top: 10px;
  width: 350px;
  height: 40px;
  background: #FEFEFF;
  border: none;
}

.footer__form input {
  padding: 0 14px;
  font-size: 18px;
  box-sizing: border-box;
  color: #575757;
  outline: none;
}

.footer__form input::placeholder  {
  padding-left: 10px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.5px;
color: #D7D7D7;
}

.footer__form label {
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
text-align: center;
color: #0B2E29;
}

.footer__form-container {
  display: flex;
}

.footer__form--button {
margin-top: 38px;
width: 85px;
height: 40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.5px;
color: #FEFEFF;
background: #69B99D;
box-shadow: 0px 0px 65px rgba(105, 185, 157, 0.48);
border: none;
}

.footer__links {
  margin: 100px 0 0 160px;
  display: flex;
  gap: 50px;
}

.footer__links li {
list-style-type: none;
margin-bottom: 15px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #575757;
}

.footer__folow-us .footer__links--list {
  display: flex;
}
.footer__links--list {
  padding: 0;
}

.footer__folow-us {
  margin-top: 16px;
}

.footer__links--list .first , .common {
  font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
color: #0B2E29;
}

.footer__links a {
  text-decoration: none;
}
